@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap")

$primary: #ea580c
$primaryDark: #be4b0c
$background: #1c1917
$white: #f0f0f0
$react-blue: #7cc5d9

$media-desktop: "only screen and (max-width : 1024px)"
$media-tablet: "only screen and (max-width : 768px)"
$media-mobile: "only screen and (max-width : 600px)"
$media-mobile-sm: "only screen and (max-width : 480px)"

*
    box-sizing: border-box
    padding: 0
    margin: 0

html
    font-size: 16px

body
    background: $background
    font-family: Nunito, sans-serif

nav
    background: $primaryDark
    align-items: center
    display: flex
    height: 70px
    justify-content: flex-end
    position: fixed
    width: 100%

    a
        align-items: center
        color: white
        display: flex
        font-size: 1.3rem
        font-weight: 500
        height: 100%
        justify-content: center
        text-align: center
        text-decoration: none
        width: 100%

    ul
        align-items: center
        display: flex
        height: 100%
        justify-content: center
        list-style-type: none
        margin-right: 20px
        max-width: 400px
        width: 350px

        li
            display: flex
            height: 100%
            align-items: center
            justify-content: center
            width: 100%

#welcome-section
    color: white
    display: flex
    flex-direction: column
    align-content: center
    justify-content: center
    height: 100vh
    text-align: center
    font-weight: bold
    font-size: 2.5rem

    #name
        color: $primary

    .description
        i
            margin-right: 10px

    .description.react
        color: $react-blue
// @media #{$media-desktop}
//     background: red

// @media #{$media-tablet}
//     background: red

@media #{$media-mobile}
    html
        font-size: 14px

@media #{$media-mobile-sm}
    html
        font-size: 12px
